@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-styles {
  padding: 16px 28px 16px 26px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #FA002C;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.flexes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.header {
  padding-top: 15px;
  background: url("../img/hero-bg.png");
  /* linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav__list {
  gap: 48px;
}
.header__nav__list__item--link {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  color: #242424;
}
.header__left__btn {
  gap: 6px;
}

.hero {
  padding: 60px 0 100px 0;
}
.hero__wrap {
  padding: 60px 80px 30px 50px;
  border-radius: 24px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.6392156863);
}
.hero__wrap__title {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 70px;
  line-height: 90px;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 30px;
}
.hero__wrap__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 15px;
}
.hero__wrap__list__item--icon {
  margin-right: 20px;
}
.hero__wrap__list__item--flag {
  margin-left: 15px;
}
.hero__wrap__list__item--text {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}
.hero__wrap__list__item:nth-child(3) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.hero__wrap__list__links {
  margin-top: 30px;
  gap: 10px;
}
.hero__wrap__list__links__btn:nth-child(1) {
  padding: 27px 30px 27px 30px;
  font-family: Montserrat;
  font-style: Bold;
}/*# sourceMappingURL=style.css.map */